<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ssms</display-name>
  <listener>
  	<listener-class>com.lizhou.listener.SystemInitListener</listener-class>
  </listener>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/500.jsp</location>
  </error-page>
  
  <filter>
    <description>字符编码过滤器</description>
    <filter-name>EncodeFilter</filter-name>
    <filter-class>com.lizhou.filter.EncodeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <description>访问控制</description>
    <filter-name>VisitFilter</filter-name>
    <filter-class>com.lizhou.filter.VisitFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>VisitFilter</filter-name>
    <url-pattern>/ClazzServlet</url-pattern>
    <url-pattern>/CourseServlet</url-pattern>
    <url-pattern>/ExamServlet</url-pattern>
    <url-pattern>/GradeServlet</url-pattern>
    <url-pattern>/ScoreServlet</url-pattern>
    <url-pattern>/StudentServlet</url-pattern>
    <url-pattern>/SystemServlet</url-pattern>
    <url-pattern>/TeacherServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <description>登录</description>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.lizhou.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>传照片</description>
    <servlet-name>PhotoServlet</servlet-name>
    <servlet-class>com.lizhou.servlet.PhotoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoServlet</servlet-name>
    <url-pattern>/PhotoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>学生信息管理</description>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>com.lizhou.servlet.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>教师信息管理</description>
    <servlet-name>TeacherServlet</servlet-name>
    <servlet-class>com.lizhou.servlet.TeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherServlet</servlet-name>
    <url-pattern>/TeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>年级</description>
    <servlet-name>GradeServlet</servlet-name>
    <servlet-class>com.lizhou.servlet.GradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GradeServlet</servlet-name>
    <url-pattern>/GradeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>班级</description>
    <servlet-name>ClazzServlet</servlet-name>
    <servlet-class>com.lizhou.servlet.ClazzServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClazzServlet</servlet-name>
    <url-pattern>/ClazzServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>课程</description>
    <servlet-name>CourseServlet</servlet-name>
    <servlet-class>com.lizhou.servlet.CourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseServlet</servlet-name>
    <url-pattern>/CourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>系统</description>
    <servlet-name>SystemServlet</servlet-name>
    <servlet-class>com.lizhou.servlet.SystemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SystemServlet</servlet-name>
    <url-pattern>/SystemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>考试</description>
    <servlet-name>ExamServlet</servlet-name>
    <servlet-class>com.lizhou.servlet.ExamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExamServlet</servlet-name>
    <url-pattern>/ExamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>成绩</description>
    <servlet-name>ScoreServlet</servlet-name>
    <servlet-class>com.lizhou.servlet.ScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScoreServlet</servlet-name>
    <url-pattern>/ScoreServlet</url-pattern>
  </servlet-mapping>
</web-app>